In [1]:
import pandas as pd
arr={'day_number':[1,2,3,4,5,6,7,8,9,10],'step_walked':[4335,9556,3245,2334,9876,6574,2000,7564,1000,3000]}
df=pd.DataFrame(arr)
df

   day_number  step_walked
0           1         4335
1           2         9556
2           3         3245
3           4         2334
4           5         9876
5           6         6574
6           7         2000
7           8         7564
8           9         1000
9          10         3000

In [2]:
arr['step_walked']=df['step_walked']+2000
print(arr['step_walked'])

0     6335
1    11556
2     5245
3     4334
4    11876
5     8574
6     4000
7     9564
8     3000
9     5000
Name: step_walked, dtype: int64

In [6]:
matched=df.loc[df['step_walked']>7000]
print(matched)

   day_number  step_walked
1           2         9556
4           5         9876
7           8         7564