In [1]:
import pandas as pd
arr={'day_number':[1,2,3,4,5,6,7,8,9,10],'step_walked':[3000,9556,3245,2334,9876,6500,2000,7564,1000,3000]}
df=pd.DataFrame(arr)
df

   day_number  step_walked
0           1         3000
1           2         9556
2           3         3245
3           4         2334
4           5         9876
5           6         6500
6           7         2000
7           8         7564
8           9         1000
9          10         3000

In [2]:
arr['step_walked']=df['step_walked']+5000
print(arr['step_walked'])

0     8000
1    14556
2     8245
3     7334
4    14876
5    11500
6     7000
7    12564
8     6000
9     8000
Name: step_walked, dtype: int64

In [3]:
matched=df.loc[df['step_walked']>5000]
print(matched)

   day_number  step_walked
1           2         9556
4           5         9876
5           6         6500
7           8         7564